footer {
	margin-top:20px;
}

.jumbotron {
	background:url("Modulo 1/bgWhite.jpg");
}

#ropaCategoria img {
	width:10rem;
}

.centrar {
	text-align:center;
	margin:0 10px;
}

.centrar img {
	max-width:18rem;
}

.tema {
	background-color:#AAA;
	border:1px solid #000;
	height:100px;
}


/*Ediciones a Bootstrap*/

.carousel .carousel-inner{
  height:23rem;
}
.carousel-inner .carousel-item img{
  min-height:200px;
/*prevent it from stretch in screen size < than 768px*/
  object-fit:cover
}

@media(max-width:768px){
.carousel .carousel-inner{
/*Prevent it from adding a white space between carousel and container elements*/
  height:auto
 }
}